{% extends "story4/main.html" %}
{% load static %}

{% block content %}
<form method="POST" action="">
<div class="row">
	<form action="/assg/" method="POST">
		{% csrf_token %}
		{{ ActivityForm }}
		<input type="submit" value="Submit">
	</form>
</div>
</form>

<!-- ini buat for -->
<div class="row">
	<div class="col-sm">{{ activity_name }}</div>
	<div class="col-sm">{{ location }}</div>
	<div class="col-sm">{{ category }}</div>
	<div class="col-sm">{{ time }}</div>
</div>
</div>	
{% endblock %}