{% extends "story4/main.html" %}
{% load static %}
{% block content %}
<!-- SHORT INTRO -->
<div class="row-sm-auto" style="line-height: 10px; text-align: center; margin-top: 20px;">
	<p style="font-size: 20px;">Hello, I'm Noor</p>
	<p style="font-size: 20px;">Thanks to visit my web</p>
	<br>
	<br>
	<br>
	<p style="font-size: 20px";>Hope I'm strong enough</p>
</div>

<div class="row" style="margin-top: 100px">
	<div class="col">
		<div style="margin-left: auto; margin-right: auto">


			<div class="card" style="width: auto; margin-bottom: 20px">
				<img class="card-img-top" src="{% static 'story4/projectA.jpg' %}" alt="Project">
				<div class="card-body">
					<h5 class="card-title">PROJECT</h5>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus, leo ac eleifend malesuada, elit elit vehicula turpis, porta pretium dolor ligula eget dolor. Aliquam erat volutpat.</p>
					<a href="{% url 'Noor_Project' %}" class="btn btn-primary">Go to Project</a>
				</div>
			</div>
		</div>
	</div>
	

	<div class="col">
		<div class="card" style="width: auto;">
			<img class="card-img-top" src="{% static 'story4/blog.jpg' %}" alt="Blog">
			<div class="card-body">
				<h5 class="card-title">BLOG</h5>
				<p class="card-text">Personal daily activities that update through my social media. Aiming for auto generated post from every social media I use.</p>
				<a href="{% url 'Noor_Project' %}" class="btn btn-primary">Go to Project</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}