{% load static %}

<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'story4/main.css' %">

  {% if title %}
    <title>Noorea - {{title}}</title>
  {% else %}
    <title>Noorea</title>
  {% endif %}


</head>
<body style="background-color: cyan">

<!-- THIS IS NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="{% url 'Noor_Home' %}">Noorea</a>

  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
  		<ul class="navbar-nav mr-auto">
  			<li class="nav-item">
  				<a class="nav-link" href="{% url 'Noor_Home' %}">Home</a>
  			</li>
  			<li class="nav-item">
  				<a class="nav-link" href="{% url 'Noor_Project' %}">Project</a>
  			</li>
  			<li class="nav-item">
  				<a class="nav-link" href="{% url 'Noor_Register' %}">Register</a>
  			</li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'schedule' %}">Schedule</a>
        </li>
  		</ul>
    </div>
</nav>

<!-- THIS IS HEADER -->
<div>
	<div class="row" style="height:300px; width: 101%; background-image: url({% static 'story4/cat.jpg' %}); background-size: cover;">
		<h1 style="margin: 100px auto auto auto; background-color: white">WORK-IN-PROGRESS</h1>
	</div>
	<div class="row" style="height: 100px; width: 101%; background-color: gray"></div>
</div>


<!-- THIS IS CONTENT -->
<div class="container" style="background-color: turquoise">
	<div class="row">
  	
  	<!-- SHORT INFO DI KIRI -->
  	<div class="col-sm-3" style="background-color: lightgray">
  		<div style="margin-top: 20px;">
  			<div class="row-sm-2">
  				<img src="{% static 'story4/fotoProfil.jpg' %}" class="image-responsive mx-auto d-block" style="margin-top: -150px; width: 200px; border-radius: 50%" alt="its me!">
  			</div>

  			<div class="row" style="margin-left: 10px">
  				<h2>NOOR</h2>
  				<br>
  				<h4><small class="text-muted">DZAKY NOOR HASYIM</small></h4>
  				<br>
  				<ul class="list-unstyled">
  					<li>Lived in Bogor</li>
  					<li>Born in January 7th</li>
  					<br>
  					<li>Favourite</li>
  					<ul>
  						<li>Biking</li>
  						<li>Video Editing</li>
  						<li>Shooting</li>
  					</ul>
  				</ul>
  			</div>
  		</div>
  	</div>

<!-- CONTENT -->
  <div class="col" style="margin-top: 50px">
    <div style="margin: 10px">
    {% block content %} {% endblock %}
    </div>
  </div>
</div>

<div class="row-lg-auto" style="height: 50px"></div>
<div class="row" style="background-color: black">
	<div style="text-align: center; margin-top: 50px; margin-bottom: 100px; width: 100%">
		<h2>HELLO</h2>
	</div>
</div>

</div>
</body>
</html>