{% extends "story4/main.html" %}
{% load static %}
{% block content %}
<img src="{% static 'story4/cat1.jpg' %}" style="float: right; padding: 10px; width: 500px; margin-top: 55px;">
<h1>Project</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus, leo ac eleifend malesuada, elit elit vehicula turpis, porta pretium dolor ligula eget dolor. Aliquam erat volutpat. Nulla cursus pharetra felis vel hendrerit. Donec condimentum tempus nulla. Maecenas in nulla in eros tempor finibus vel id nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla vel odio et justo fermentum vestibulum. Praesent quam eros, suscipit vitae massa ut, fermentum finibus leo. Aenean vel vulputate tortor. Nullam facilisis arcu nec nisl fermentum, vel vehicula nisl condimentum. Quisque vel porta nulla. Aenean ultricies augue eget dignissim luctus. Donec elit ligula, sollicitudin eget erat eu, suscipit iaculis diam. Mauris sit amet elit consectetur lectus vestibulum tincidunt. Donec congue ullamcorper nibh ac ullamcorper. Ut interdum rhoncus sapien in consequat.</p>
<p>Donec est elit, malesuada id eros quis, vestibulum maximus mauris. Integer scelerisque nec orci sit amet finibus. Sed vel lorem a eros vehicula auctor. Aliquam erat volutpat. Nunc facilisis laoreet neque, id accumsan augue molestie at. Cras tempus sem vel mattis ultrices. Proin non tellus ut ex facilisis vestibulum. Nunc eget lectus eu ligula aliquam aliquam sit amet vel augue. Sed et sollicitudin mauris, nec varius nibh. Quisque ut ex eu eros eleifend porta. Nam ac nunc iaculis, bibendum dui sed, gravida est. In lectus odio, vulputate eu imperdiet vel, tempus quis velit. Nunc luctus magna est, vulputate pulvinar libero cursus non. Donec vitae aliquam nibh, id fermentum tellus. Nullam facilisis eleifend justo, non cursus nibh mattis eu. Mauris convallis varius varius.</p>
{% endblock %}