{% extends "story4/main.html" %}
{% load static %}
{% block content %}
<div style="text-align: center;">
  <h1>PLEASE INPUT YOUR FORM</h1>
</div>
<div style="background-color: darkgrey; width: 23%; margin-left: auto; margin-right: auto; padding: 10px">
<form class="form-group" style="text-align: center">
  <div class="form-group">
    <label for="nameForm">Nama</label>
    <input type="text" class="form-control" id="nameForm" placeholder="Enter your name">
  </div>

  <div class="form-group">
    <label for="dateForm">Date</label>
    <input type="date" class="form-control" id="dateForm" placeholder="dd/mm/yyyy">
  </div>

  <div class="form-group">
    <label for="emailForm">Email</label>
    <input type="email" class="form-control" id="mailForm" placeholder="Enter your email address">
  </div>

  <div class="form-group">
    <label for="subjectForm">Subject</label>
    <input type="text" class="form-control" id="subjectForm" placeholder="Enter your subject name">
  </div>

  <div class="form-group">
    <label for="usernameForm">Username</label>
    <input type="text" class="form-control" id="usernameForm" placeholder="Enter your username">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Confirm Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

{% endblock %}