{% extends "story4/main.html" %}

{% load static %}

{% block content %}
<form method="POST" action="{% url 'schedule_submit' %}">
	{% csrf_token %}
	{{ Form }}
	<br>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
<a class="btn btn-primary" href="{% url 'schedule' %}" style="margin-top: 10px;">Return to previous menu</a>
{% endblock %}