{% extends "story4/main.html" %}

{% load static %}

{% block content %}
<div class="row">
	<div class="col">
		<h1>Schedule Lists</h1>
	</div>
	<div class="col-sm-2">
		<a class="btn btn-primary" href="{% url 'schedule_form' %}">Add Schedule</a>
	</div>
	<div class="col-sm-3">
		<a class="btn btn-primary" href="{% url 'schedule_clear' %}">Clear Data</a>
	</div>
</div>
<br>
{% for Activity in activities_list %}
	<div class="row">
		<h2>{{Activity.name}}</h2>
	</div>
	<div class="row" style="font-size: 12px">
		<span>{{Activity.date}}</span>
		<span>{{Activity.time}}</span>
		<span style="margin-left: 5px; margin-right: 5px; border-left: 2px solid"></span>
		<span>{{Activity.location}}</span>
	</div>
	<div class="row" style="margin-bottom: 30px;">
		{{Activity.category}}
	</div>
{% endfor %}
{% endblock %}