.theBody{
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	background-color: lightgray;
}

.navbar {
	background-color: gray;
	overflow: hidden;
	margin-bottom: 0 !important;
}

.navbar a{
	float: right;
	color: 	#D3D3D3;
	text-align: center;
	padding: 10px 20px 8px;
	text-decoration: none;
	font-size: 12px;
}

.navbar a:hover{
	background-color: #DCDCDC;
	color: #000000;
}

.navbar a.title{
	float:left;
	color: #000000;
	font-weight: bold;
}


.header{
	height: 500px;
	background-color: lightblue;
	margin-top: 0 !important;
	background-size: auto 650px;
	background-repeat: no-repeat;
}


.profileBar{
	float: left;
	height: 108px;
	width: 100%;
	background-color: gray;
}

.profilePhoto{
	position: absolute;
	left: 20px;
	margin-top: auto;
	margin-bottom: auto;
}

.profilePhoto img{
	margin-top: -20px;
	height: 150px;
	width: 150px;
	border-radius: 50%;
}

.profileTitle{
	margin-left: 200px;
	padding-top: 15px;
	font-size: 16px;
}

.page{
	margin: 100px 100px 150px;
	padding-bottom: 330px;
}

.shortInfo{
	margin-top: 70px;
	float: left;
	padding-right: 100px;
	line-height: 10px;
	font-size: 14px;
	height: 500px;
}

.content{
	font-size: 14px;
}

.shortIntro{
	padding-top: 100px;
	line-height: 10px;
	text-align: center;
	font-size: 14px;
}

.contentArea{
	padding-top: 50px;
}

.contentRow{
	float: left;
	padding: 30px 0;
}

.contentMenu{
	float: left;
	padding-right: 60px;
}

.contentMenu img{
	width: 500px;
}

.footer{
	padding-top: 20px;
	height: 150px;
	background-color: black;
	text-align: center;
	color: #fff;
	font-size: 16px;
	line-height: 6px;
}

.footer p{
	font-size: 12px;
}

.navtext{
	height: 10px;
}

.navtext a{
	float: left;
	text-align: center;
	padding-right: 10px;
	text-decoration: none;
	font-size: 10px;
}